!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    Email:
    = @data['email']
    
    %br
    %br
    
    %i
      = @data['message']
    